{% extends "blog/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Password Reset - KnicksLink</title>
{% endblock %}

{% block content %}
<div class="content-section">
    <img src="{% static 'blog/img/logo.png' %}" alt="KnicksLink Logo" class="logo-img">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info btn-sm" type="submit">Reset Password</button>
        </div>
    </form>
</div>
{% endblock content %}